@page "/movements"
@using ExpenseManagement.Shared
@attribute [StreamRendering]
@inject HttpClient Http

<h1>Movimientos</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Tipo</th>
            <th scope="col">Nombre</th>

            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>

@*         @foreach (var movimiento in MovementList)
        {
            <tr>
                <th scope="row">@movimiento.Id</th>
                <th scope="row">@movimiento.Date</th>
                <th scope="row">@movimiento.Description</th>
                <th scope="row">@movimiento.Quantity</th>
                <th scope="row">@movimiento.Type</th>
                <th scope="row">@movimiento.User.Name</th>
                <td>
                    <button class="btn btn-success">Editar</button>
                    <button class="btn btn-warning">Eliminar</button>
                </td>
            </tr>
        } *@
</tbody>
</table>
<br />

<h3>Nuevo Movimiento</h3>

<label>Usuario</label>
<EditForm Model="@movement">
    <InputSelect class="form-control" @bind-Value="@movement.UserId">
        <option selected value=0>Elegir Usuario</option>
        @foreach (var user in UserList)
        {
            <option value="@user.Id">@user.Name</option>
        }
    </InputSelect>
</EditForm>
<label>Contidad</label>
<input class="form-control" type="number" @bind-value=movement.Quantity />
<label>Tipo</label>
<select class="form-control" @bind="movement.Type">
    <option selected value="Ingreso">Ingreso</option>
    <option selected value="Gasto">Gasto</option>
</select>
<label>Descripcion</label>

<input type="text" class="form-control" @bind-value=movement.Description />
<br />
<button class="btn btn-primary" @onclick=NewMovement>Guardar</button>


@code {
    public static List<User> UserList = new List<User>();
    User MyUser = new User();
    // public static List<Movement> MovementList = new List<Movement>();
    Movement movement = new Movement();

    protected override async Task OnInitializedAsync()
    {
        var users = await Http.GetFromJsonAsync<List<User>>("api/User/GetUsers");
        UserList = users;
    }

    async Task NewMovement()
    {
        var respuesta = await Http.PostAsJsonAsync("api/Movement/NewMovement", movement); 
    }

}